.p_heading {
  font-size: 4rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}
.project_page {
  color: var(--gray-1);
}

.input-group {
  background-color: var(--white) !important;
  border-radius: 1rem !important;
}


/* *********************card**************** */
.project_box {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: flex-start !important;
  width: 75% !important;
  margin-top: 3rem !important;
  margin-left: 12.5% !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--dark) !important;
  background-clip: border-box;
  border: none !important;
  color: var(--gray-1) !important;
}
.card-body {
  /* border-radius: 1rem !important; */
  border-radius: 1rem  !important;
  border: 3px solid var(--gray-2) !important;
  background-color: var(--deep-dark) !important;
  color: var(--gray-1) !important;
}
.card_img {
  border-radius: 1rem !important;
  border: 3px solid var(--gray-2) !important;
  object-fit: cover !important;
  height: 30rem !important;
}
.card-title {
  font-weight: bold !important;
}
@media (max-width: 900px) {
  html {
    font-size: 40%;
  }

  .project_box {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: flex-start !important;
    width: 100% !important;
    margin: auto !important;
  }
 
}


.card-container {
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-container:hover {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100% ;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem !important;
  border: 3px solid var(--gray-2) !important;
}

.card-back {
  transform: rotateY(180deg);
}

